<div>
        <textarea class="display"  data-id={{this.id}}  rows="2" cols="25">
                {{burger_name}}
        </textarea>

        <button class="devour" data-id={{this.id}}>Devour it!</button>
</div>

